@import './config';
@import './home';
@import './menu';
@import './projects';
@import './about';
@import './contact';
@import './responsive';
body{
    background:$primary-color;
    color:set-text-color($primary-color);
    height:100vh;
    font-family:'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
    line-height: 1;
}
h1,h2,h3{
    font-weight:400;
}
a{
    color:set-text-color($primary-color);
    text-decoration: none;
}
.text-secondary{
    color:$secondary-color;
}
header{
   position:fixed;
   z-index:1;
   width:100%;
   padding:1rem; 
} 
main{
    height:100%;
    width:100%;
    .social-icons{
        position:fixed;
        bottom:0;
        left:0;
        a{
            padding:.4rem;
            @include transition-ease;
            &:hover{
                color:$secondary-color;
            }
        }
    }
}
footer{
    font-size:1rem;
    position:fixed;
    bottom:0.4rem;
    right:1rem;
    padding:1rem;
    text-align: right;
    color:set-text-color($primary-color);

}

// @import './resets','./variables';

// @function weight($weight-name) {//return and compute values
//     @return map-get($font-weights,$weight-name);
// }

// @mixin flexCenter($direction){//define styles
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
// }
// @mixin theme($light-theme:true){
//     @if $light-theme{
//         background:lighten($primary-color,100%);
//         color:darken($text-color,100%);
//     }
// }
// @mixin mobile{
//     @media (max-width:$mobile){
//         @content;
//     }
// }
// body{
//     background-color:$primary-color;
//     color:$text-color;
// }
// .main{
//     @include flexCenter(row);
//     width:100%-20%;
//     margin:0 auto;
//     #{&}__paragraph1{
//         font-weight:weight(bold);
//         &:hover{
//             color:pink;
//         }
//     }

//     #{&}__paragraph2{
//         @extend .main__paragraph1;
//         &:hover{
//             color:$accent-color;
//         }
//     }

//     @include mobile{
//         flex-direction:column;
//     }
     
   
// }

// .light{
//     @include theme(true);
// }